## Priklady 1

## Numbers
Napiste rovnicu za pouzitia nasobenia, delenia, umocnenia, scitavania a odcitavania aby bol vysledok rovny 100.25

In [4]:
y = 4*5**2/5+90.25-10
print(y)

100.25

Zapiste vysledky tychto tvrdeni, nasledne otestujete v kode.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [5]:
x1 = 44
x2 = 4*(6 + 5)
y1 = 29
y2 = 4*6 + 5
z1 = 34
z2 = 4 + 6*5
print(x1,x2,y1,y2,z1,z2)

44 44 29 29 34 34

Aky datovy typ je vysledkom tohto vyrazu? 3 + 1.5 + 4?<br><br>

Ako by ste vypocitaly 2 mocninu a odmocninu cisla 16 ?

In [6]:
# Square root:
16**2

256

In [8]:
# Square:
16**0.5
import math
math.sqrt(16)

4.0

## Retazec - Strings

Vypiste 'e' zo stringu 'hello'

In [10]:
s = 'hello'
# Print out 'e' using indexing

print(s[1])

e

## Zoznam/pole - Lists/arrays

Vytvorte list [0,0,0] .

In [12]:
# Method :
list = [0,0,0]
print(list)

[0, 0, 0]

Vytvorte pole [1,1,1] pomocou kniznice numpy.

In [14]:
# Method 2:
import numpy as np

list = np.array([4, 5, 78, 44])
print(list)

[ 4  5 78 44]

Zoradte hodnoty v list4

In [18]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Slovniky Dictionaries

Pomocou kluca vypiste 'hello' z nasledujuceho slovnika(dictionary):

In [22]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [24]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

## Booleans

Porovnavanie, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3
# False

False

In [ ]:
# Answer before running cell
3 <= 2
# False

False

In [28]:
# Answer before running cell
3 == 2.0
# False

False

In [29]:
# Answer before running cell
3.0 == 3
# True

True

In [30]:
# Answer before running cell
4**0.5 != 2
# False

False

# Metody/funcie/cykly

Napiste funkciu, ktora vrati mensie z 2 cisel ak su obe parne a vacsie ak nie.

In [39]:
# Kod
def f1(num1, num2):
    if(num1%2 == 0 and num2%2 == 0):
        #vraciam mensie cislo
        if(num1 > num2):
            return(num2)
        elif(num1 < num2):
            return(num1)
        else:
            return('cisla su rovnake', num1)
    else:
        return max([num1, num2])    

f1(6, 6)

('cisla su rovnake', 6)

Napiste funkciu, ktora vrati True ak je sucet 2 zadanych cisel 30 alebo je jedno cislo 30, inak vrati False.

In [44]:
#kod

def f2(num1, num2):
    return(num1 + num2 == 30 or num1 == 30 or num2 == 30)

f2(30,30)

True

Napiste funkciu ktora vrati True ak je zadane cislo vzdialene od cisla 100 alebo 200 maximalne o 10 .

In [52]:
#Kod
def f3(num):
    return (abs(100 - num) <= 10 or abs(200 - num) <= 10)

f3(190)

True

Napiste funkciu kde su zadane 3 cisla od 1 do 11, ak je ich sucet mensi rovny 21 vrati ich sucet ak je ich sucet vacsi ako 21 vrati ich sucet zmenseny o 10.

In [57]:
#Kod
def f4(num1, num2, num3):
    arr = [num1, num2, num3]
    if(all(x <= 11 and x >= 1 for x in arr)):
        if(sum(arr) <= 21):
            return(sum(arr))
        elif(sum(arr) >= 21):
            return(sum(arr) - 10)
    else:
        return('zadaj normalne cisla more')
    
f4(11, 7, 11)

19